
.search {
  border-radius: 15px;
  border: 1px solid grey;
  padding: 8px 27px;
  background-color: #1f2126;

}

.icon {
  position: absolute;
  top: 16px;
  right: 210px;

}

.autocompleted {
  position: absolute;

  top: 50px;
  width: 100%;
  background-color: #f8f8f8;
}

.autocompletedItem {

}

