.stars {
  background-color: #032541;
  border-radius: 15px;
  position: absolute;
  padding: 20px;
  top: 80px;
  @media (min-width: 360px) and (max-width: 768px) {
    padding: 5px;
    top: 188px;
    right: 48px;
  }

  & > div {
    & > div {
      display: flex;
    }
  }
}