@import "src/index";

.container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  img {
    max-width: 600px;
  }
}
.backBtn{
  padding: 10px 30px;
  background-color:$colorBtnBg ;
  border: none;
  border-radius: 10px;
  color:$colorBtn;
  letter-spacing: 1px;

  &:hover{
    cursor: pointer;
    background-color: $colorBgActiveBtn;
  }
}