
.actionBar {
  position: sticky;
  top: 1px;
  z-index: 9999;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: dimgrey;
  display: flex;
  justify-content: center;
  border-radius: 20px;


  & > div {

  }

  .tooltip {
    font-size: 18px;
    margin-top: 12px;
  }

  .ratingButton {


    .rating {
      position: relative;
    }
  }

}