@import "src/index";


.header {
  padding: 15px;
  font-size: $sizeHeader;
  letter-spacing: 1px;
}

.trendMovies {
  display: flex;
  margin: 5px;
}

.wrapper {
  display: flex;
  margin: 0 15px;

}

.wrapperActors{
  width: 165px;
  height: 200px;
  background-size: cover;
  min-height: 100%;
  border-radius: 15px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
}