.stars {
  background-color: #032541;
  border-radius: 15px;
  position: absolute;
  padding: 20px;
  top: 80px;


  @media (min-width: 360px) and (max-width: 768px) {
    padding: 5px;
    top: 189px;
    right: 90px;
    height: 60px;
    width: 200px;
  }
}