* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--body-background-default);
  color: #050505;
}

.containerTopLayout {
  display: flex;
  justify-content: space-between;
  color: var(--text-color-default);
}

.containerNav {
  width: 250px;
  min-height: calc(100vh - 60px - 25px - 1px);
  display: flex;
  flex-direction: column;
  border-right: 1px solid #404040;
  font-family: Arial, sans-serif;
  font-weight: bold;
  user-select: none;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .containerNav {
    width: 150px;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .containerNav {
    opacity: 0;
    width: 0;
    overflow: hidden;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .containerNav {
    width: 120px;
  }
}
.containerNav > a {
  color: var(--text-color-default);
  margin-left: 20px;
  margin-top: 20px;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .containerNav > a {
    font-size: 13px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .containerNav > a {
    font-size: 11px;
  }
}
.containerNav > a h1 {
  font-size: 20px;
  color: rgba(152, 4, 4, 0.87);
  letter-spacing: 1px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .containerNav > a h1 {
    font-size: 13px;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .containerNav > a h1 {
    font-size: 12px;
  }
}
.containerNav > a h1 span {
  color: #E30914;
}
.containerNav > a:hover {
  color: #720101;
  transition: 0.2s;
}
.containerNav > a svg {
  margin-right: 10px;
  font-size: 20px;
  fill: grey;
}
.containerNav > .active {
  color: #720101;
  cursor: default;
  border-right: 3px solid #E30914;
}
.containerNav > .active:first-child {
  border: none;
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .containerNav > .active:first-child {
    display: flex;
    flex-direction: column;
  }
}
.containerNav > .active > svg {
  fill: #E30914;
}
.containerNav p {
  margin-left: 20px;
  margin-top: 40px;
  text-transform: uppercase;
  font-size: 14px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .containerNav p {
    font-size: 12px;
  }
}

.containerMain {
  width: calc(100% - 250px - 250px);
  padding: 10px;
  color: var(--text-color-default);
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .containerMain {
    width: 700px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .containerMain {
    width: 575px;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .containerMain {
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 1024px) and (max-width: 1200px) {
  .containerMain {
    width: 650px;
  }
}

.containerSideBar {
  width: 250px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #404040;
  padding-top: 10px;
  padding-left: 10px;
}
@media (min-width: 1024px) and (max-width: 1280px) {
  .containerSideBar {
    width: 200px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .containerSideBar {
    opacity: 0;
    width: 0;
    overflow: hidden;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .containerSideBar {
    opacity: 0;
    width: 0;
    overflow: hidden;
  }
}

.footer {
  height: 60px;
  padding-top: 25px;
  background-color: var(--body-background-default);
  text-align: center;
  color: var(--text-color-default);
  font-size: 20px;
  border-top: 1px solid #404040;
}

.topArrow {
  color: rgba(213, 8, 57, 0.62);
  position: fixed;
  bottom: 150px;
  z-index: 1000;
  left: 50px;
  animation-name: example;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.topArrow:hover {
  cursor: pointer;
  color: #c05a11;
}

.headerMain {
  background-color: #424c43;
}

@keyframes example {
  from {
    color: rgba(30, 2, 8, 0.99);
  }
  to {
    color: rgba(213, 8, 57, 0.62);
  }
}
:root {
  --body-background-dark:#171B1E;
  --body-background-light:#ffffff;
  --body-background-default:var(--body-background-dark);
  --components-background-dark:#171B1E;
  --components-background-light:#ffffff;
  --components-background-default:var(--components-background-dark);
  --text-color-dark:#818080;
  --text-color-light:#000000;
  --text-color-default:var(--text-color-dark);
  --btn-color-hover-dark:#f6f6f6;
  --btn-color-hover-light:rgba(210, 9, 9, 0.99) ;
  --btn-color-hover-default:#f6f6f6 ;
  --color-header-dark:#ffffff;
  --color-header-light:#000000;
  --color-header-default:var(--color-header-dark);
  --color-input-dark:#ffffff;
  --color-input-light:#000000;
  --color-input-default:var(--color-input-dark);
}

/*# sourceMappingURL=Layout.css.map */
