.dropDown {
  text-align: right;
  display: flex;
  flex-direction: column;
  position: relative;
  width:19%;

  span{
    cursor: pointer;
    @media (min-width: 1024px) and (max-width: 1280px) {
      font-size: 12px;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
     font-size: 12px;
    }

  }

  .dropDownMenu{
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    font-size: 20px;
    width: 100%;
    @media (min-width: 1024px) and (max-width: 1280px) {
      font-size: 12px;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 12px;
    }

    p{
      cursor: pointer;
      padding: 5px;
    }
    @media (min-width: 360px) and (max-width: 768px){

      font-size: 12px;
    }
  }
}