@import "/src/index";
@import 'src/Components/SliderItems/SwiperSlide.module';


.wrapper {

  @media (max-width: 768px) {
    margin: 80px 10px 0 10px;
  }
  h1, h2, h3 {
    opacity: .8;
    text-transform: capitalize;
    margin: 20px 0;
  }

  .wrapperBox {
    display: flex;
    margin: 0 15px;
  }

  .swiperSlideMain {

    text-decoration: none;

    & > div {
      background-size: cover;
      background-position: center;
      height: 400px;
      border-radius: 15px;
      margin: 5px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;

      & > div:first-child {
        width: 20%;
        position: absolute;
        top: 20px;
        right: 2%;
        display: flex;
        align-items: center;
        justify-content: space-around;

        p {
          color: white;
          font-size: 22px;
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
        border-radius: 15px;
      }

      & > div {
        cursor: pointer;
        z-index: 1;
        margin-left: 30px;
        margin-bottom: 10px;

        h2 {
          color: white;
          letter-spacing: 2px;
        }

        h3 {
          color: white;
          margin-bottom: 20px;
          text-transform: uppercase;
        }

      }
    }
  }

}


.logo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: #10161d;
  position: fixed;
  z-index: 1001;

  top: 0;
  padding: 20px 5px;

  @media (max-width: 500px) {
    width: 100%;
  }

  @media (min-width: 501px) and (max-width: 768px) {
    width: 100%;
  }
  p {
    font-size: 22px;


    @media (max-width: 768px) {
      font-size: 15px;
      padding: 0 7px;
      color: #E30914;

      a {

        text-decoration: none;
      }
    }
  }

}

.logoHeader {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: brown;
  font-size: 22px;

  svg{
    padding-right: 5px;
  }
}



