.container {
  align-items: center;
  display: flex;

  @media (min-width: 360px) and (max-width: 768px) {
    margin-right: 10px;
  }
}

.openModal {

}
body .lock{
  overflow: hidden;
}

.headerBurger{
  display: block;
  position: fixed;
  right: 25px;
  width: 30px;
  height: 20px;
  z-index: 3;

  &:before,
  &:after{
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 2px;
    z-index: 3;
    transition: all 0.3s ease 0s;
  }
  &:before{
    top:0;
  }
  &:after{
    bottom: 0;
  }
  span{
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    height: 2px;
    top:9px;
    z-index: 3;
    transition: all 0.3s ease 0s;
  }
}
.menu{
  position: fixed;
  top: -100%;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #151f23;
  z-index: 2;
  transition: all 0.3s ease 0s;
  overflow-y: auto;


  .userInfo{
    margin-top: 20px;

    .login{
      position: fixed;
    }

    svg{
      margin: 0 10px;
    }

    a{
      font-size: 22px;
    }

    .items {
      padding: 50px 10px;
      z-index: 1001;
      display: flex;
      flex-direction: column;
      position: absolute;

      &blur{
        opacity: 0;
      }

      a {
        padding: 5px 0;
        color: #f5f5f5;
        text-decoration: none;

        @media (min-width: 360px) and (max-width: 768px) {
          display: flex;
          align-items: center;
        }

      }
      p{
        font-size: 20px;
        padding: 5px 0;
        color:#ffffff;
        font-weight: 900;
      }

    }
  }



}

.active {
  &:before {
    transform: rotate(45deg);
    top: 9px;
  }
  &:after{
    transform: rotate(-45deg);
    bottom: 9px;
  }
  span{
    transform: scale(0);
  }
  .menu{
    top:0;
  }
}




