.wrapper {
  border-radius: 20px;
  border: 1px solid grey;
  position: relative;

  a {
    text-decoration: none;
    //color: white;
  }

  h2 {
    padding: 10px;
  }

  .filter {

    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (min-width: 1024px) and (max-width: 1280px) {
      font-size: 15px;
    }
    @media (min-width: 360px) and (max-width: 600px){
        font-size: 12px;
      }
  }

  .info {
    display: flex;
    align-items: flex-start;
    font-size: 22px;
    padding: 10px;
    @media (min-width: 1024px) and (max-width: 1280px) {
      font-size: 15px;
    }
    @media (min-width: 360px) and (max-width: 600px){

    font-size: 12px;
      h3{
        //font-size: 12px;
      }

    }

    .title {
      margin-left: 20px;
      font-size: 24px;
      padding-bottom: 10px;
      color: var(--color-header-default);
      @media (min-width: 1024px) and (max-width: 1280px) {
        font-size: 15px;
      }
      @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 15px;
      }
      @media (min-width: 360px) and (max-width: 768px){

        font-size: 14px;

      }

    }

    .role {
      margin-left: 40px;
      @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 13px;

      }
    }

  }
  @media (min-width: 360px) and (max-width: 768px){

    margin-right: 12px
  }
}