.dropDown {
  text-align: right;
  display: flex;
  flex-direction: column;
  position: relative;

  span{
    cursor: pointer;

    @media (max-width: 768px) {
      font-size: 18px;
    }

  }

  .dropDownMenu{
    position: absolute;
    top: 100%;
    left: 0;
    text-align: right;
    font-size: 17px;
    width: 100%;

    @media (max-width: 375px) {
     background-color: #10161d;
      width: 298px;
      left: -194px;
      font-size: 18px;
      text-align: right;
    }

    p{
      cursor: pointer;
      padding: 5px;
    }

  }
}