.container{
  overflow: scroll;
  max-height: 600px;
}
.wrapper{
  display: flex;
  justify-content: space-around;
  height: 100%;

  ul{
    list-style: none;
    li{
      padding: 5px;
    }
  }
}

.deleteMovie{

  &:hover{
    color:#f1f;
  }
}