@import "/src/index";

.titleDiscovery {
  color: $colorBtn;
  margin: $size $size * 3;
  font-family: 'Source Sans Pro', sans-serif;
}

.descriptionDiscovery {
  color: $colorBtn;
  margin-left: $size * 3;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $size * 1.3;
}

.containerListVideos {
  //max-width: 1500px;
  width: 100%;
  margin: 0 auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-family: 'Source Sans Pro', sans-serif;
}