@import "src/index";

.item {
  display: flex;
  justify-content: center;
  align-items: baseline;
  user-select: none;
  height: 100%;
  max-width: 100%;
  min-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
  padding: 20px;
}
.name{
  font-size: $sizeHeader;
}

.button {
  color: $colorBtn;
  background-color: $colorBtnBg;
  border: none;
  border-radius: 10px;
  padding: 10px 30px;
  margin-top: 15px;
  letter-spacing: 1px;

  &:hover{
    background-color: $colorBgActiveBtn;
  }
}

.category {
  color: $colorDefault;
  font-size: $size;
  margin-top: 5px;
}


