@import "/src/index";

.wrapperBox {
  width: 50%;
  background-color: black;
  border-radius: 10px;
  margin-top: 15%;
  margin-left: 30%;
  font-family: Arial, sans-serif;

  h1 {
    text-align: center;
    display: block;
    padding-top: 30px;
    color: white;
  }

  form {
    display: flex;
    flex-direction: column;
    padding: 20px;

    label {
      display: flex;
      flex-direction: column;
      text-transform: uppercase;
      font-size: 13px;
    }

    input {
      background-color: inherit;
      border: none;
      border-bottom: 1px solid white;
      margin-bottom: 20px;
      padding: 10px 0;
      color: white;
      opacity: .8;
    }

    .btnContainer{
      display: flex;
      justify-content: center;

      button {
        background-color: $colorBgActiveBtn;
        border: none;
        color: #ffffff;
        padding: 10px;
        cursor: pointer;
        margin-top: 10px;
        width: 40%;

        a{
          color: white;
          text-decoration: none
        }

        &:first-child{
          border-radius: 10px 0 0 10px;
        }

        &:last-child{
          border-radius: 0 10px 10px 0;
        }
      }

      .active{
        background-color: $colorBtnBg;
      }
    }

    .errorMessage{
      color: #E30914;
      margin-bottom: 15px;
      font-size: 14px;
    }
  }
}
