@import "/src/index";
.autocompleted {
  position: absolute;
  background-color: #1f2126;
  top: 50px;
  //width: 220px;
  list-style: none;
  box-shadow: 11px 11px 55px #000000;
  height: auto;
  overflow: auto;
  //max-height: 240px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  .item{
    text-decoration: none;
    color: #fcfcfc;
    padding: 15px;
    width: 100%;
    min-width: 100%;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    top:60px;
  }
  @media (min-width: 480px) and (max-width: 600px) {
   top:70px;
  }
}

.autocompletedItem {
  font-size: 20px;
  padding: 15px;
  &:hover{
    background-color:$colorActive;
    color: #ffffff;
    cursor: pointer;
    transition: cubic-bezier(1,0,0,1) .3s all;
  }
}
.wrapper{
  background-size: cover;
  background-repeat: no-repeat;
  height: 50px;
  //width: 100%;
  margin: 5px;
  border: 2px solid black;
  &:hover{
    box-shadow: 11px 11px 55px #000000;
    cursor: pointer;
    transition: cubic-bezier(1,0,0,1) ;
    transform: scale(1.05);

  }

}
.container{

}

