@import "/src/index";
.autocompleted {
  position: absolute;
  background-color: #1f2126;
  box-shadow: 9px 27px 67px 40px #000000;
  overflow: auto;
  display: none;
  flex-direction: column;
  z-index: 1000;

  .item{
    text-decoration: none;
    color: #fcfcfc;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    top:60px;
  }
  @media (min-width: 360px) and (max-width: 768px) {
   top:70px;
  }
}
.openModal{
 display: flex;
  top: 50px;
}

.autocompletedItem {
  font-size: 20px;
  padding: 15px;
  &:hover{
    background-color:$colorActive;
    color: #ffffff;
    cursor: pointer;
    transition: cubic-bezier(1,0,0,1) .3s all;
  }
}
.wrapper{
  background-size: cover;
  background-repeat: no-repeat;
  height: 50px;
  //width: 100%;
  margin: 5px;
  border: 2px solid black;
  &:hover{
    box-shadow: 11px 11px 55px #000000;
    cursor: pointer;
    transition: cubic-bezier(1,0,0,1) ;
    transform: scale(0.95);

  }
}

.container {
  //width: 200px;
  @media (min-width: 360px) and (max-width: 600px) {
    width: 100px;
  }
  @media (min-width: 600px) and (max-width: 768px) {
    width: 72px;
  }
}

.search {
  border-radius: 15px;
  border: 1px solid grey;
  padding: 8px 27px;
  background-color: var(--body-background-default);
  color: var(--color-input-default);
  background-image: url("https://cdn-icons-png.flaticon.com/128/954/954591.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left;
  @media (min-width: 1024px) and (max-width: 1280px) {
    padding: 6px 20px;
    width: 180px;
  }
  @media (min-width: 360px) and (max-width: 768px) {
    width: 170px;
    height: 45px;
  }
}


