.container{
width: 200px;
  @media (min-width: 360px) and (max-width: 600px) {
    width: 100px;
  }
}
.icon{


}
.search {
  border-radius: 15px;
  border: 1px solid grey;
  padding: 8px 27px;
  background-color: var(--body-background-default);
  color: white;
  background-image: url("https://cdn-icons-png.flaticon.com/128/954/954591.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left;
  @media (min-width: 1024px) and (max-width: 1280px) {
    padding: 6px 20px;
    width: 110px;
  }
  @media (min-width: 360px) and (max-width: 600px) {
    width: 110px;
  }
}
