.wrapper {
  display: flex;
  justify-content: space-between;
  opacity: .8;

  @media (max-width: 768px) {
    margin-top: 80px;
    flex-direction: column;
    width: 90%;
  }

  .left,
  .right {
    display: flex;
    flex-direction: column;
    padding: 15px;

  }

  .left {

    @media (max-width: 767px) {
      width: 100%;
    }

    img {
      width: 350px;
      border-radius: 20px;

      @media (min-width: 1024px) and (max-width: 1280px) {
        width: 250px;
      }
      @media (min-width: 768px) and (max-width: 1024px) {
        width: 200px;
      }
      @media (max-width: 768px) {
        width: 100%;

      }
    }

    .personalInfo {
      display: flex;
      flex-direction: column;
      @media (min-width: 360px) and (max-width: 600px) {
        h3 {
          color: #f8f8f8;
        }
      }

      h2 {
        margin: 10px;
      }

      & > div {
        margin: 10px;

        p {
          padding: 10px;
        }
      }
    }
  }

  .right {
    width: 100%;
    overflow: auto;


    .biography {
      margin-top: 10px;
      font-size: 20px;

      @media (min-width: 768px) and (max-width: 1024px) {
        font-size: 15px;
      }

      p {
        font-size: 18px;

        @media (max-width: 768px) {
          font-size: 18px;
        }

      }

      a {
        @media (max-width: 768px) {
          font-size: 16px;
        }
      }

    }

    .knowFor {

      h2 {
        margin: 20px 0;

        @media (max-width: 600px) {
          color: #f8f8f8;
        }
      }

      .swiperSlide {
        text-decoration: none;
        color: white;


        img{
          width: 90%;
          border-radius: 20px;

          @media (max-width: 767px) {
            width: 100%;
            border-radius: 20px;
          }
        }

      }

      a{
        text-decoration: none;
        color: #f8f8f8;
      }
    }
  }

  @media (max-width: 600px) {
    h1 {
      color: #f8f8f8;
    }
  }
}

.nameOfMovie {
  font-size: 20px;
  font-weight: 900;
  padding: 10px;
}