.wrapper {
  display: flex;
  justify-content: space-between;
  //color: white;
  opacity: .8;

  .left,
  .right {
    display: flex;
    flex-direction: column;
    padding: 15px;

  }

  .left {

    img {
      width: 350px;
      border-radius: 20px;
        @media (min-width: 1024px) and (max-width: 1280px) {
        width: 250px;

      }
    }

    .personalInfo {
      display: flex;
      flex-direction: column;

      h2{
        margin: 10px;
      }

      & > div {
        margin: 10px;

        p{
          padding: 10px;
        }
      }
    }
  }

  .right {
    width: 100%;
    overflow: auto;

    .biography {
      margin-top: 10px;
      font-size: 20px;
    }

    .knowFor {
      width: 100%;

h2{
  margin: 20px 0;
}
      .swiperSlide {
        text-decoration: none;
        color: white;

        & > div {
          background-size: cover;
          background-position: center;
          height: 200px;
          border-radius: 25px;
          position: relative;

          & > canvas {
            position: absolute;
            top: 0;
            right: 0;
          }

          &:hover {
            box-shadow: 0 0 0 128px rgba(0, 0, 0, 0.33) inset;
            transform: scale(1.05);
          }

        }
      }
    }
  }
}
.knowFor p{
  color: var(--text-color-default);
}
.nameOfMovie{
  font-size: 20px;
  font-weight: 900;
  color: #9b1010 !important;
  padding: 10px;
}