.modal .css-1wnsr1i {
  background-color: #f0ad4e;
  width: 600px;
}

.wrapperInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 30px;
  text-align: center;
  display: block;
  @media (min-width: 360px) and (max-width: 768px) {
    font-size: 15px;
  }

}

textarea {
  height: 100px;
  width: 70%;
  border-radius: 10px;
  border: none;
  background-color: rgb(247 6 6 / 42%);
  padding: 10px;
  color: #ffffff;
  margin: 5% 0;

}


.css-1wnsr1i {
  background-color: #f0ad4e !important;
}

.reviews {
  margin: 10px 0;
  background-color: #2828287a;
  padding: 5px;
  border-radius: 10px;

  .headerInfo {
    font-size: 11px;
    color: rgba(248, 248, 248, 0.72);
  }
}

.headerReview {
  display: flex;
  justify-content: space-between;
}

.text {
  margin-top: 10px;
}

.wrapperCloseModalBtn {
  max-width: 119px;
  @media (min-width: 360px) and (max-width: 768px) {
    a {
      font-size: 12px;

    }
  }
}