@import 'src/Components/SliderItems/SwiperSlide.module';

.wrapper {
  font-family: Arial, sans-serif;


  a {
    color: white;
  }

  h2 {
    padding: 25px 0;
  }

  p {
    color: var(--text-color-default);
  }

  h2, h3 {
    color: var(--color-header-default);
  }

  .banner {
    background-size: cover;
    background-position: center;
    height: 400px;
    border-radius: 15px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 1;
      border-radius: 15px;
    }


    .info {
      margin-left: 30px;
      margin-bottom: 10px;
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;

      h1 {
        letter-spacing: 2px;
        text-transform: uppercase;
        color: white;
      }

      p {
        padding: 5px 0;
        font-size: 14px;
        opacity: .9;
        color: white;

        span {
          opacity: .7;
          color: white;
        }
      }

    }
  }

  .overview {
    display: flex;
    justify-content: space-between;
    opacity: .8;
    line-height: 25px;
    font-size: 18px;
    color: white;

    .rating {
      p {
        text-align: center;
        text-transform: uppercase;
      }
    }

    .about {
      width: 60%;
    }

    .data {
      padding-right: 80px;
    }
  }

  .swiper-slide {
    width: 250px !important;
  }

}

.genres {
  background-color: #050505;
  border-radius: 5px;

  a {
    color: firebrick;
    text-decoration: none;
    padding: 0 5px;

    &:hover {
      color: #ea6615;;
    }
  }
}

.reviewsContainer {
  margin-top: 35px;

  h1 {
    padding-bottom: 10px;
  }

  textarea {
    padding: 20px;
    width: 500px;

      @media (min-width: 1024px) and (max-width: 1280px) {
        width: 300px;
    }
  }
}

.wrapperReview {
  background-color: #ececec;
  margin-bottom: 10px;

}

.reviews {
  color: #E30914 !important;
  padding: 5px;
  display: flex;
  justify-content: space-between;

}

.header {
  padding-bottom: 10px;
}