.container {
  max-height: 500px;
  overflow: hidden;
  margin-top: 50px;

  a{
    text-decoration: none;
  }
  h3{
    @media (min-width: 1024px) and (max-width: 1280px) {
      font-size: 13px;

    }
  }

  .wrapperBox {
    width: 200px;
    height: 100px;
    margin: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: end;
    flex-direction: column;
    @media (min-width: 1024px) and (max-width: 1280px) {
      width: 110px;

    }

    &:hover {
      transform: scale(1.05);
      cursor: pointer;
      box-shadow: 0 0 0 128px rgba(0, 0, 0, 0.33) inset;
    }

    &:hover .wrapperAbout {
      opacity: 1;
    }
  }

  .item {
    padding: 5px;
    color: #ffffff;
  }

  .wrapperAbout {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      width: 40%;
      text-align: center;
    }
  }

}

.btn {
  width: 234px;
  display: flex;
  align-items: center;
  justify-content: center;
}
