
$colorBg: #10161d;
$colorBg2: #101215;
$colorBg3: #1f2126;
$colorBgLight: #ffffff;
$colorDefault: grey;
$colorActive: #f50101;
$colorBgActiveBtn : rgba(210, 6, 6, 0.67);
$colorBtnBg:#E30914;
$colorBtn: #720101;
$size: 10px;
$sizeHeader: 15px;
$sizeBtn : 20px;
$components-background-dark: #171B1E;
$components-background-light: #ffffff;
$text-color-dark: #818080;
$text-color-light: #000000;
$logo-color: rgba(152, 4, 4, 0.87);
$btn-color-hover-dark: #f6f6f6;
$btn-color-hover-light: rgba(210, 9, 9, 0.99);
$header-color-darkMode: #ffffff;
$header-color-lightMode: #000000;
$input-color-darkMode: #ffffff;
$input-color-lightMode: #000000;





