
$colorBg: #171B1E;
$colorBg2: #101215;
$colorBg3: #1f2126;
$colorDefault: grey;
$colorActive: white;
$colorBgActiveBtn : rgba(210, 6, 6, 0.67);
$colorBtnBg:#E30914;
$colorBtn: #f8f8f8;
$size: 10px;
$sizeHeader: 25px;
$sizeBtn : 20px;