.container {
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  box-shadow: 0 0 5px 5px rgba(34, 80, 80, .9);
  color: var(--text-color-default);


  a {
    color: var(--text-color-default);
    text-decoration: none;
    padding: 20px;
  }
}

.outlet {
  font-size: 20px;
  color: var(--text-color-default);
  border-radius: 20px;
  margin-top: 20px;
  opacity: .9;

  .profile {

    h2 {
      padding: 20px;
      text-align: center;
    }

    .header {
      border-radius: 19px;
      display: flex;
      justify-content: space-between;
      padding: 10px;
      box-shadow: 0 0 5px 5px rgba(34, 80, 80, .9);


      .avatar {
        margin-bottom: 20px;
        margin-left: 20px;
      }

      .userInfo {
        display: flex;
        flex-direction: column;
        width: 60%;

        .main {
          display: flex;
          align-items: stretch;
          margin: 30px 0;

          .name {
            font-size: 32px;
            font-weight: bold;
          }

          .membership {
            opacity: .7;
            font-size: 20px;
            padding-left: 20px;
          }
        }

        .ratings {
          display: flex;
          align-items: center;
          justify-content: flex-start;

          p {
            padding-left: 20px;
            font-size: 24px;
          }
        }
      }
    }

    .stats {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      box-shadow: 0 0 5px 5px rgba(34, 80, 80, .9);
      border-radius: 19px;
      opacity: .8;


      div {
        margin: 45px;
        box-shadow: 5px 5px 25px 5px rgba(33, 80, 100, 0.5);
        width: 200px;
        height: 200px;
        border-radius: 20px;

        h3 {
          font-size: 26px;
          padding-top: 40px;
        }

        p {
          margin: 25px 0;
          font-size: 28px;
          font-weight: bold;
        }
      }
    }
  }

  .titleHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 5px 5px rgba(34, 80, 80, .9);
    color: var(--text-color-default);
    padding: 20px;


    .filters {
      font-size: 22px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 30%;

      & > div > span {
        cursor: pointer;
      }

      .filtered {
        position: relative;

        .dropDown {
          width: 160px;
          background-color: #215064;
          color: var(--text-color-default);
          padding: 10px;
          list-style: none;
          position: absolute;
          top: 40px;
          border-radius: 20px;

          li {
            cursor: pointer;
            padding: 5px;
          }
        }
      }
    }
  }

  .pageInfo {

    .emptyList {
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      p {
        margin: 50px;
        font-size: 24px;
      }

    }


    .movieBlock {
      display: flex;
      border-radius: 20px;
      border: 1px solid rgba(34, 80, 80, .7);
      margin: 10px 2px;

      .image {
        border-radius: 20px 0 0 20px;
        background-size: cover;
        background-position: center;
        min-width: 300px;
      }

      .info {
        display: flex;
        flex-direction: column;
        padding: 20px;
        @media (min-width: 1024px) and (max-width: 1280px) {
          width: 200px;
        }

        .movieTitle {
          display: flex;
          align-items: center;

          a {
            text-decoration: none;
            color: inherit;
          }

          h2, p {
            padding-left: 10px;
            opacity: .8;
            @media (min-width: 1024px) and (max-width: 1280px) {
              font-size: 14px;
            }
          }

          p {
            opacity: .5;
          }
        }

        .movieInfo {
          margin: 10px;

          .actionBar {
            display: flex;
            justify-content: space-around;
            margin: 15px;

            .rating {
              position: relative;
            }

            p {
              opacity: .5;
              @media (min-width: 1024px) and (max-width: 1280px) {
                font-size: 12px;
              }
            }
          }

          .overview {
            line-clamp: 1;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            line-height: 1.3em;

            p{

              @media (min-width: 1024px) and (max-width: 1280px) {
                font-size: 13px;
              }
            }
          }
        }
      }


    }
  }
}
