.container {
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  background-color: #215064;
  font-size: 20px;

  a {
    color: white;
    text-decoration: none;
    padding: 20px;
    opacity: .9;
  }

}

.outlet {
  font-size: 20px;
  color: black;
  opacity: .8;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 20px;


  .titleHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #215064;
    border-radius: 20px 20px 0 0;
    color: white;
    padding: 20px;

    .filters {
      font-size: 22px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 30%;

      & > div > span {
        cursor: pointer;
      }

      .filtered {
        position: relative;

        .dropDown {
          width: 160px;
          background-color: #215064;
          color: white;
          padding: 10px;
          list-style: none;
          position: absolute;
          top: 40px;
          border-radius: 20px;

          li {
            cursor: pointer;
            padding: 5px;
          }
        }
      }
    }
  }

  .pageInfo {

    .emptyList {
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;


      p{
        margin: 50px;
        font-size: 24px;
      }


    }

    .movieBlock {
      display: flex;
      border-radius: 20px;
      border: 1px solid #215064;
      margin: 10px 5px;

      .image {
        border-radius: 20px 0 0 20px;
        background-size: cover;
        background-position: center;
        min-width: 300px;
      }

      .info {
        display: flex;
        flex-direction: column;
        padding: 20px;
        @media (min-width: 1024px) and (max-width: 1280px) {
          width: 200px;
        }

        .movieTitle {
          display: flex;
          align-items: center;

          a {
            text-decoration: none;
            color: inherit;
          }

          h2, p {
            padding-left: 10px;
            @media (min-width: 1024px) and (max-width: 1280px) {
              font-size: 14px;
            }


          }

          p {
            opacity: .5;
          }
        }

        .movieInfo {
          margin: 10px;

          .actionBar {
            display: flex;
            justify-content: space-around;
            margin: 15px;

            .rating{
              position: relative;
            }

            p {
              opacity: .5;
              @media (min-width: 1024px) and (max-width: 1280px) {
                font-size: 12px;
              }
            }
          }

          .overview {
            line-clamp: 1;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            line-height: 1.3em;
            p{
              @media (min-width: 1024px) and (max-width: 1280px) {
                font-size: 13px;
              }
            }
          }
        }
      }


    }
  }
}
